@page
@model IndexModel
@{
    ViewData["Title"] = "What Would You Like To Do?";
}

<h1>@ViewData["Title"]</h1>

<div class="row">
    <div class="col-6">
        <a href="~/Sender" class="btn btn-danger">Record</a>
    </div>
    <div class="col-6">
        <a href="~/Receiver" class="btn btn-success">Listen</a>
    </div>
</div>