@page
@model IndexModel
@{
    ViewData["Title"] = "Sender";
}

<h1>@ViewData["Title"]</h1>

<button onclick="mainAsync();">Start</button>

@section Scripts
{
    <script src="~/lib/signalr/signalr.js"></script>
    <script src="~/js/sender.js" asp-append-version="true"></script>
    <script>
        let mainAsync = async () => {
            await MidiSender.initAsync("https://localhost:5000/midi");
        };
    </script>
}